
  <div id="activity_list_details">
    <div id="activity_time_date">
      <div>
        <%= participation.activity.start_time.strftime("%l:%M%P") %>
      </div>
      <div>
        <%= participation.activity.start_date %>
      </div>
    </div>

    <div id="activity_name_location">
      <div>
        <%= participation.activity.name %>
      </div>
      <div>
        <%= participation.activity.location %>
      </div>
    </div>

  </div>
