<div id="activity_list_details">
  <div id="activity_time_date">
    <div>
      <%= "10:30" %>
    </div>
    <div>
      <%= "02/09/2022" %>
    </div>
  </div>

  <div id="activity_name_location">
    <div>
      <%= "Gardens by the Bay" %>
    </div>
    <div>
      <%= "Singapore" %>
    </div>
  </div>

</div>
