<% current_user.activity_where("pending").each do |activity| %>
  <% if activity.participations.count > 0 %>
    <div class="card">
      <p><%= activity.name %></p> |

      <% activity.participations.each do |participation| %>
        <div>
          <%= participation.user.first_name %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
