<h1>Participations#approve</h1>
<p>Find me in app/views/participations/approve.html.erb</p>


<% @activities.each do |activity| %>
  <% if activity.participations.count > 0 %>
    <div class="card">
      <p><%= activity.name %></p> |

      <% activity.participations.each do |participation| %>
        <div>
          <%= participation.user.first_name %> | <%= participation.status %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
