<body class="itinerary_show">
<div class="container">

  <div id="itinerary-avatar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Barack_Obama.jpg/640px-Barack_Obama.jpg" alt="profile photo" class="avatar">
  </div>

  <div>
    <h3> <%= @itinerary.user.first_name %>'s Itinerary </h3>


    <p><%= @itinerary.city %> <%= @itinerary.country %></p>

  </div>





















</div>
</body>
