// Define variables for your color scheme

// For example:
$red: #e76143;
$blue: #7812ed;
$yellow: #f3e033;
$orange: #faa72b;
$green: #1edd88;
$light-gray: #f4f4f4;
$pink: #efdbdb;
$gray: #706969;
$lightbg: #fdf8f8;
