.container-main {
  background: rgb(251, 222, 222);
  height: 100%;
}

.chatroom-title {
  font-weight: 200;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  color: rgb(206, 117, 9);
}

.accordion-header {
  border-bottom-color: #edeff0;
  background: transparent;
}

h5 {
  color: rgb(206, 117, 9);
  font-size: x-large;
  font-weight: bolder;
}

.chat-invitation {
  color: rgb(45, 43, 42);
  font-weight: bolder;
}

.accordion-button {
  width: 100%;
  height: 88px;
  font-weight: bold;
  color: #371920;
  padding: 10px;
  box-shadow: #371920;
}

.accordion-body {
  font-size: larger;
  margin-bottom: 4px;
}

.accordion-button.collapsed {
  background: rgb(249, 244, 244);
}
.accordion-button:not(.collapsed) {
  background: #f5eade;
}

.creator_name {
  padding-left: 4px;
}

.activity-chatroom-photo {
  width: 150px;
  height: 160px;
  border-radius: 8%;
  overflow: hidden;
  margin-right: 10px;
  border: solid;
  border-color: lightgrey;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.activity-chatroom-title {
  margin-top: 4px;
}

.panel-default > .panel-heading {
  background-color: rgb(246, 243, 243);
}
