
<!-- Loop
1) itinerary title clickable and drops down to
2) chatrooms = activity names => accordion drop down of the itinerary -->

<div class="container-main">
  <div class="container-chat">
    <div class="chatroom-title" style="color: #505050;">
      <h5><span class="label label-default">CHATS WITH OTHERS</span></h5>
    <div>
    <div class="chat-body mb-5" data-controller="insert-in-chat" style="background-color: #F1E0E0;">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <% @itineraries.each do |itinerary| %>
          <%= render 'itinerary_chats', itinerary: itinerary, chatrooms: @chatrooms %>
        <% end %>
      </div>
    </div>
  </div>

</div>
