<h1>Chatrooms#new</h1>
<p>Find me in app/views/chatrooms/new.html.erb</p>

<!-- IS THERE EVEN A NEW IN THIS CASE???????  -->

<!-- Is activated when activity is created   -->

<!--  This is a form. Requires
(1) name which is the name of the activity itself,
(2) participants of confirmed participations,
(3) creator themself
-->

<!--  Authorized ONLY for those who are involved in the activity(and confirmed)  -->
