<div>
  <% user.reviews.each do |review| %>
      <div class="review-card">
        <div id="review_bar">
          <div id="reviewer_name">
            <%= review.author.first_name %>
          </div>
          <div id="review_rating">
            <%= review.rating %>/5
          </div>
        </div>
        <div id="review_location">
          <%= review.participation.activity.location %>
        </div>
        <div>
          <%= review.comment %>
        </div>
      </div>
  <% end %>
</div>
