<div>
  <% user.reviews.each do |review| %>
    <div>
      <div class="d-flex justify-content-between">
        <% review.author.photos.each do |photo| %>
          <div class="avatar-small" alt="avatar-small">
            <%= cl_image_tag photo.key, height: 100, width: 100 %>
          </div>
        <% end %>
        <%= review.author.first_name %>
        <%= review.rating %>
      </div>
    </div>
    <div>
      <%= review.comment %>
    </div>
  <% end %>
</div>
white_check_mark
eyes
raised_hands
