<div style="background-color:#F1E0E0;  border border-success">
  <% user.reviews.each do |review| %>

      <div class="review-card">
        <div id="review_bar">
          <div id="reviewer_name" class="d-flex">
            <span class="me-1"><strong><%= review.author.first_name %> </strong></span>  rated <%= review.rating %>/5
          </div>
        </div>
        <div id="review_location">
          <%= review.participation.activity.location %>
        </div>
        <div class="px-4 pb-4">
          <%= review.comment %>
        </div>
      </div>
  <% end %>
</div>
