<div class="fixed-bottom d-flex justify-content-center w-100 py-2" style="background-color: #e36262;" id="bottomNav">
    <div class="w-100 d-flex justify-content-between px-5">
      <div class="nav-item">
        <a class="nav-link" href="http://localhost:3000/itineraries">
        <img src="https://cdn-icons-png.flaticon.com/512/855/855003.png" width="30" height="30" alt=""></a>
      </div>
      <div class="nav-item dropup">
        <img class=" dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1834/1834117.png" width="30" height="30">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><img src="http://localhost:3000/participation/" width="30" height="30" alt=""></a>
          <a class="dropdown-item" href="http://localhost:3000/participation/approve"><img src="https://cdn-icons-png.flaticon.com/128/4336/4336639.png" width="30" height="30" alt=""></a>
        </div>
      </div>
      <!-- <div class="nav-item">
        <a class="nav-link" href="http://localhost:3000/activities/1"><img src="https://cdn-icons-png.flaticon.com/512/3677/3677253.png" width="30" height="30" alt=""></a>
      </div> -->
      <div class="nav-item">
        <a class="nav-link" href="http://localhost:3000/users/1">
        <img src="https://cdn-icons-png.flaticon.com/512/98/98415.png" width="30" height="30" alt=""></a>
      </div>
    </div>

</div>
