<div class="water-body">

  <div class="waterfall-img">
    <%= image_tag "waterfall.png" %>
  </div>
  <div class="waterfall p-2 m-2 shadow">
    <div class="top 1/3 pt-5">
      <div class="d-flex justify-content-center">
        <%= image_tag "Pink_logo.png", width: 200  %>
      </div>
      <div class="intro pt-5 mx-5 ">
        <h4>Keen to travel with strangers<br> in a safe and efficient manner?</h4>
        <h1>Welcome to WEO!</h1>
      </div>
    </div>

    <div>
      <div class="big_steps d-flex justify-content-around">
        <div class="steps p-2 m-2">
          <h4><strong>Step 1</strong></h4>
          <p>Create activities in an itenerary</p>
        </div>

        <div class="steps p-2 m-2">
          <h4><strong>Step 2</strong></h4>
          <p>Post your itenerary</p>
        </div>

        <div class="steps p-2 m-2">
          <h4><strong>Step 3</strong></h4>
          <p>Wait for other travellers</p>
        </div>
      </div>
    </div>

    <div class="final pt-3 justify-content-center">
      <h4><strong>Last step</strong></h4>
      <div class="fun justify-content-center pb-3">
        <p><u>Have fun!</u></p>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="login d-flex justify-content-center pb-2 ">
        <%= link_to "Login", new_user_session_path, class: "btn btn-success btn-width-80" %>
      </div>

      <div class="sign up d-flex justify-content-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-width-80 text-white mb-4" %>
      </div>
    </div>

    <div class="footer">
    </div>
  </div>

</div>
