<body>
<div class="container">
	<div class="top 1/3 pt-5">
		<div class="d-flex justify-content-center">
    <%= image_tag "our_logo.png", width: 100  %>
		</div>
		<div class="info pt-5 mx-5 text-justify">
		<p>Want to travel with strangers in a safe and efficient manner?</p>
		<p>You came to the right place!</p>
    <p>Welcome to <u>WEO!</u></p>
		</div>
	</div>
	<div class="steps and text pt-3">
		<div class="steps d-flex justify-content-around">
			<div class="first_step">
				<u><h3>Step 1</h3></u>
			</div>
			<div class="second_step">
				<u><h3>Step 2</h3></u>
			</div>
			<div class="third_step">
				<u><h3>Step 3</h3></u>
			</div>
		</div>
    <div class="steps d-flex justify-content-around">
			<div class="first_step">
				<h4>Create</h4>
			</div>
			<div class="second_step">
				<h4>Post</h4>
			</div>
			<div class="third_step">
				<h4>Wait for</h4>
			</div>
		</div>
		<div class="steps text d-flex justify-content-around">
			<div class="first_text d-flex text-center">
        <h4>an itenerary</h4>
			</div>
			<div class="second_text  d-flex justify-content-center pb-3">
				<h4>an itenerary</h4>
			</div>
			<div class="third_text">
        <h4>others to join</h4>
			</div>
		</div>
	</div>
	<div class="Last steps and text pt-1">
		<div class="Last step d-flex justify-content-center">
		<u><p>Final step</p></u>
		</div>
		<div class="Having fun  d-flex justify-content-center pb-5">
			<h2>Have fun with new friends!</h2>
		</div>
	</div>
	<div class="buttons d-flex flex-column ">
		<div class="login d-flex justify-content-center pb-3">
      <%= link_to "Login", new_user_session_path, class: "btn btn-info" %>
		</div>
		<div class="sign up d-flex justify-content-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
		</div>
	</div>
	<div class="footer about us">
	</div>
</div>
</body>
