<body>
<div class="container">
	<div class="top 1/3">
		<div class="d-flex justify-content-center">
    <%= image_tag "our_logo.png", width: 100  %>
		</div>
		<div class="info">
		<p>Want to travel with strangers in a safe and efficient manner?</p>
		<p>You came to the right place!</p>
		</div>
	</div>
	<div class="steps and text">
		<div class="steps d-flex justify-content-around">
			<div class="first_step">
				<h3>Step 1</h3>
			</div>
			<div class="second_step">
				<h3>Step 2</h3>
			</div>
			<div class="third_step">
				<h3>Step 3</h3>
			</div>
		</div>
		<div class="steps text d-flex justify-content-around">
			<div class="first_text d-flex text-center">
				<h3>Create</h3>
        <h3>an itenerary</h3>
			</div>
			<div class="second_text text-center">
				<h3>Post</h3>
        <h3>an itenerary</h3>
			</div>
			<div class="third_text">
				<h3>Wait for</h3>
        <h3>others to join</h3>
			</div>
		</div>
	</div>
	<div class="Last steps and text">
		<div class="Last step">
		<p>Final step</p>
		</div>
		<div class="Having fun">
			<h2>Have fun with new friends!</h2>
		</div>
	</div>
	<div class="buttons">
		<div class="login">
		</div>
		<div class="sign up">
		</div>
	</div>
	<div class="footer about us">
	</div>
</div>
</body>
