#activity_list_details {
  background-color: rgb(141, 124, 124);
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 280px;
  font-size: 13px;
  padding: 5px 0 0 0;
}

#approved-avatar {
  height: 60px;
  width: 60px;
}
