.banner {
  background-size: cover;
  background-position: center;
}

.banner-name {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  top: 20px;
}

.banner p {
  font-size: 20px;
  color: white;
  width: 100%;
  padding-left: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.activity-name {
  color: white;
  background-color: rgb(197, 111, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 240px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.date-time-schedule {
  font-size: large;
  border: solid rgb(135, 124, 124);
  border-radius: 20px;
  padding: 8px;
  background-color: rgb(156, 77, 90);
  position: absolute;
  top: 180px;
  left: 56%;
}

.join-here-button {
  position: absolute;
  top: 180px;
  right: 40%;
  border-radius: 15;
}

.activity-members {
  margin-top: 10px;
  margin-left: 10px;
}

.itinerary-activity-img {
  overflow: hidden;

  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
}

.creator-avatar {
  img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
  }
}

.participant-avatar {
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
