#approved_list {
  display: flex;
  justify-content: space-between;
}

#approved_avatar{
  height: 60px;
  width: 60px;
}

#activity1 {
  margin: 1px 0 0 5px;
}

#chatbox {
  margin: 14px 7px 0 9px;
}

#approved_header {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
}

#pending_header {
  display: flex;
  flex-direction: row;
}

#pending_list {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
}

#activity2 {
  margin: 1px 0 0 20px;
}

#pending_header {
  margin: 20px 0 0 0;
}
