#itinerary-avatar{
  display: flex;
  justify-content: center;
  margin: 120px 0 0 0;
}

#details {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  line-height: 40%;
}

#all_activities {
  font-weight: bolder;
  margin: 0 0 0 50px;
  display: flex;
  justify-content: space-between;
}

#all_activities p {
  font-size: 20px;
}

.form-check {
  margin: 3px 0 0 0;
}

.option {
  display: flex;
  justify-content: space-between;
}

#all_checkbox {
  display: flex;
  justify-content: space-between;
}

#join_button {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.itinerary_container {
  border-radius: 8px;
}

#itinerary_show_name {
  margin: 0 0 0 13px;
}

.list-group-item {
  padding: 5px;
  position: relative;
  right: 8px;
  font-weight:  bolder;
}
