#map {
  position: relative;
  top: -40px;
  bottom: 0;
  width: 100%;
}

#geocoder {
  // position: absolute;
  width: 100%;
}

.geocoder1 {
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    border-radius: 20px;
  }
}


.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
#map {
  margin-top: 75px;
}

.title-where {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.title-when {
  top: -20px;
  margin-top: 20px;
  margin-left: 20px;
}

.title-what {
  margin-top: 20px;
  margin-left: 20px;
}

.location-input {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 16px;
}

.location_country {
  input {
    border-radius: 16px;
  }
}


.date-input {
  margin-left: 20px;
  margin-right: 20px;
}

.details-input {
  margin-left: 20px;
  margin-right: 20px;
}

.submits {
  margin-left: 20px;
  margin-right: 20px;
  flex: auto;
}

#start2 {
  height: 48px !important;
  padding: 6px 45px;
  color: grey;
  border-radius: 20px;
}

#end2 {
  height: 48px !important;
  padding: 6px 45px;
  color: grey;
  border: none;
  border-radius: 20px;
}
