#review-border {
  background-color: rgb(243, 243, 243);
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border: 1px solid #E76143;
  border-radius: 8px;
}

#review-card {
  background-color: rgb(125, 124, 124);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#reviewer-name {
  background-color: #E76143;
  height: 25px;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  color: rgb(255, 249, 249);
}

#locationdate {
  width: 110px;
  height: 25px;
  background-color: #E76143;
  text-align: center;
  border-radius: 8px;
  position: relative;
  bottom: 6px;
  padding: 2px;
  color:  rgb(255, 249, 249);
}

#reviewtop {
  padding: 10px 0 10px 10px;
  display: flex;
  position: relative;
  bottom: 40px;
  right: 20px;
}

#review {
  color: white;
}

#reviewtitle {
  margin: 0 0 0 10px;
}

#review_container {
  border: 3px solid #FF0000;
  border-radius: 8px;
  margin: 20px;
}

#review_container p {
  text-align: center;
  font-size: 18px;
}
