#name {
  width: 75px;
  background-color: rgb(254, 244, 244);
  font-weight: bolder;
  font-size: 22px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  left: 163px;
  bottom: 27px;
}

#avatar_photo {
  border-radius: 50%;
}

#profilebutton {
  margin: 20px 0 0 320px;
  background-color: rgb(27, 221, 251);
  height: 27px;
  width: 142px;
  font-size: 12px;
  border: none;
}

#usermap {
  display: flex;
  justify-content: center;
  padding: 0 0 5px 0;
}

#bordermap {
  background-color: rgb(247, 244, 244);
  margin: 50px 20px 0 70px;
  width: 340px;
  height: 145px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#bordermap h1{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

body {
  background-color: #fed9d7;
}

#profile_banner {
  background-image: url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
  height: 158px;
  width: 420px;
  background-size: cover;
}

#logout {
  position: relative;
  left: 315px;
  bottom: 70px;
}

#user_photo {
  position: relative;
  left: 250px;
}

.create-itinerary-text {
  top: 50%;
  transform: translateY(-50%);
  left:30px;
  position: absolute;
  font-size: 28px;
  width:120px;
  line-height: 100%;
  color: black;
}

.create-itinerary {
  position: relative;
  left: 40px;
}

.create_circle {
width: 80px;
height: 80px;
border-radius: 50%;
background-color: #E76143;
}

.my_itineraries {
  position: relative

}

#my_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #E76143;
  position: relative;
  left: 333px;
  top: 60px;
  }


.my_text {
  font-size: 28px;
  color: black;
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.itinerary_text {
  font-size: 28px;
  color: black;
  text-align: right;
  margin-top: 0;
  position: relative;
  bottom: 35px;
  right: 20px;
}

.my_itineraries {
  height: 80px;
  position: relative;
  bottom: 60px;
  right: 40px;
}
