.top_bar {
  display: flex;
  justify-content: space-between;
}

#name {
  margin: 50px 260px 0 0;
  font-weight: bolder;
  font-size: 25px;
}

#avatar_photo {
  border-radius: 50%;
}

#profilebutton {
  margin: 20px 0 0 320px;
  background-color: rgb(27, 221, 251);
  height: 27px;
  width: 142px;
  font-size: 12px;
  border: none;
}

#usermap {
  display: flex;
  justify-content: center;
  padding: 0 0 5px 0;
}

#bordermap {
  background-color: grey;
  margin: 50px 20px 0 70px;
  width: 340px;
  height: 145px;
}

#bordermap h1{
  font-size: 20px;
  text-decoration: none;
}
