<h1>New Activity</h1>

<div data-controller="insert-in-list">
  <div class="accordion" id="accordionExample" data-insert-in-list-target="items">
    <% @itinerary.activities.each do |activity| %>
      <%= render 'activity', activity: activity %>
    <% end %>
  </div>
  <% if @itinerary.activities.size < 5 %>
    <div class="container">
      <div class="w-75 mx-auto mt-3">

        <%= render "form", itinerary: @itinerary, activity: @activity %>
      </div>
    </div>
    <% else %>
      <h3>Upgrade to add moooooore!</h3>
  <% end %>
</div>
