<div class="mb-10">
<%= simple_form_for [participation, review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <right style=" mb-auto back-ground color: #505050;"><%= f.submit "create"%></right>
<% end %>

</div>
